
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(149, 86, 168);
}
 
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    padding: 10px;
    border: solid 3px rgb(74, 20, 99);
    border-radius: 20px;
    margin-bottom: 30px;
}
.game-container {
    background-color: rgb(198, 167, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 3px solid rgb(74, 20, 99);
    border-radius: 40px;
    padding: 20px;
}
p{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-style: arial;

}
.choices {
    display: flex;
    gap: 1em;

}
.choices button{
    padding: 0.5em 1em;
    font-size: 3em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(236, 225, 235);
    color: rgb(74, 20, 99);
    transition: background-color 0.3s ease;
}
.choices button:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(74, 20, 99);
}   
#your-choice, #computer-choice {
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#result-text {
    font-size: 1.5em;
    border:3px solid rgb(67, 28, 85);
    border-radius: 0.5em;
    padding: 10px 50px;
}

