
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-shadow:
        0 0 6px rgba(255, 0, 255, 0.6),
        0 0 12px rgba(0, 255, 255, 0.4);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:radial-gradient(circle, #2b0a3d, #120018);
}
h1 {
    font-size: 2.7em;
    margin-bottom: 20px;

    text-shadow:
        0 0 10px #ff00ff,
        0 0 20px #9900ff;
}
.game-container {
    background-color: rgb(198, 167, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 3px solid rgb(74, 20, 99);
    border-radius: 40px;
    padding: 20px;
}
p{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-style: arial;

}
.choices {
    display: flex;
    gap: 1em;

}
.choices button{
    padding: 0.5em 1em;
    font-size: 3em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(236, 225, 235);
    color: rgb(74, 20, 99);
    transition: background-color 0.3s ease;
}
.choices button:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(74, 20, 99);
}   
#your-choice, #computer-choice {
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#result-text {
   font-size: 1.5em;
    padding: 10px 20px;
    border: 2px solid #ff00ff;
    border-radius: 10px;
}

#final-result {
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    animation: pulse 1s infinite;
}

#reset-btn {
    margin-top: 10px;
    padding: 10px 20px;

    font-size: 1em;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    background: #ff00ff;
    box-shadow: 0 0 15px #ff00ff;

    transition: 0.3s;
}
